.\35 grid-layout {
width: 800px;
margin: 0 auto;
}

#logo{
    /*height: 120px;*/
}
#logo h1 a{
    font-size: 44pt;
}
#logo p{
    font-size: 20pt;
}

#header{
    min-height: initial;
}

.homepage #wrapper{
    background: #FFFFFF url(images/img03.png) repeat-x left top !important;
}

#map{
    min-height: 300px;
}

 body {
    font-size: 12pt;
 }