#logo{
    /*height: 120px;*/
}
#logo h1 a{
    font-size: 44pt;
}
#logo p{
    font-size: 20pt;
}

#header{
    min-height: initial;
}

.homepage #wrapper{
    background: #FFFFFF url(images/img03.png) repeat-x left top !important;
}

#map{
    min-height: 300px;
}

 body {
    font-size: 12pt;
 }
 b{
     font-weight:bold !important;
 }

/* CSS Responsive Design */
/* smartphone verticale */
 @media screen and (max-width: 320px){
    .\35 grid-layout {
        width: 310px;
        margin: 0 5px;
    }
    #logo{
        height: 200px;
    }
    .homepage #wrapper{
        padding: 0;
    }
    #map{
        min-height: 100px;
    }
    #footer-content{
        padding: 0;
    }
    #footer-content #box2{
      padding: 10px;
    }
    #copyright{
      padding: 20px 0;
    }
 }
 /* smartphone orizzontale*/
 @media screen and (min-width: 321px) and (max-width: 480px){
    .\35 grid-layout {
        width: 320px;
    }
    #logo{
        height: 200px;
    }
   #map{
        min-height: 100px;
    }
 }

 /* misure intermedie smartphone e tablet */
 @media screen and (min-width: 481px) and (max-width:767px){
    .\35 grid-layout {
        width: 470px;
    }
    #logo{
        height: 200px;
    }
   #map{
        min-height: 220px;
    }
 }

 /* tablet */
 @media screen and (min-width: 768px) and (max-width:1023px){
    .\35 grid-layout {
        width: 800px;
    }
    #logo{
        height: 150px;
    }
   #map{
        min-height: 300px;
    }

 }
 /* iPad e monitor piccoli*/
 @media screen and (min-width: 1024px) and (max-width:1200px){
    .\35 grid-layout {
        width: 800px;
    }
    #logo{
        height: 150px;
    }
   #map{
        min-height: 300px;
    }

 }
 @media screen and (min-width: 1300px){
    .go-to-contact{
        right: 220px !important;
    }
 }
.go-to-contact{
     width: 100px;
     text-decoration: none;
     padding: 7px 0px 7px 0px;
     background: #CEC3A0;
     border-radius: 5px;
     line-height: normal;
     text-align: center;
     text-transform: uppercase;
     text-shadow: 1px 1px 1px #8A8B71;
     font-family: 'Abel', sans-serif;
     font-size: 14px;
     color: #FFFFFF;
 }
p.paragraph{
    margin:1em 0;
}
p.paragraph:last-child{
    margin-bottom:0;
}

#banner img {
    display: block;
    width: 100%;
}
